<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xys.libzxing">

    <application android:allowBackup="true">
        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/zxing_bar_name"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>
</manifest>